@{
    ViewData["Title"] = "Home Page";
}

@model List<Pizza>

<div>
    <div class="container">
        <div class="row justify-content-center gap-3">
            @foreach(var x in Model)
            {
                <div class="card col-2 pt-3">
                    <img class="card-img-top" src="~/img/@x.Img" alt="">
                    <div class="card-body px-0">
                        <h5 class="card-title">
                            @x.Nome
                        </h5>
                        <p class="card-text">@x.Descrizione <br>&euro; @x.Prezzo</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
